
<section>
<div class="img-container">
    <img src="./../../assets/pink-trainers.webp" alt=""> <!--/assets ja vai direto. Nao precisa colocar o caminho absoluto-->


</div>
<div class="product-data">
<h2>Pink tenis</h2>
<p>Very comfy and water proof!!</p>
<strong>R$300,00</strong>
</div>
<button>Adicionar ao carrinho</button>

</section>






<!-- Essa era a meu card
<div>
    <h2>Produto da loja</h2>
    <hr>
   
    <img  src="./../../assets/pink-trainers.webp" width=" 200px" height="300px" >
   
<hr>
   <h1>Pink trainers</h1>
   
   <h3>Super comfortable and water proof. </h3>
   <Div class="container">
   <p><a link href="https://www.pinkboutique.co.uk/collections/shoes/trainers" >R$200 </a></p>
   </Div>
</div>
-->